:root {
  --primary-btn: linear-gradient(0deg, #F37352, #EE326C);
  --nav-bg: #0e0e0e; 
  --text-white: #f1f1f1;
}

* {
  margin: 0;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--nav-bg);
  box-sizing: border-box;
  width: 100vw;
  padding: .5rem 0.75rem;
  color: var(--text-white);
  box-shadow: 0 15px 18px rgba(0, 0, 0, 0.205);
}

.text-white {
  color: var(--text-white);
}

.navBar,
.nav-links,
.nav-logout,
.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navBar {
  justify-content: space-between;
  padding-top: 13px;
}

.logo-container img,
.nav-profile-img img{
  max-width: 3rem;
  width: 100%;
  height: auto;
}

.mainSide {
  display: flex;
  height: 100vh; 
  overflow: scroll initial; 
  justify-content: flex-end;
  align-items: flex-end;
}

.subSide.sideSub {
  height: 92.8vh;
  background-color: #0e0e0e;
}

#CDBSSide {
  background-color: #0e0e0e;
}