/*** FONTS ***/

/* AUDIOWIDE */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Audiowide', cursive; */

/* MONOFETT */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
/* font-family: 'Monofett', cursive; */

/* GOLOS TEXT */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap');
/* font-family: 'Golos Text', sans-serif; */

/* ORBITRON */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Orbitron', sans-serif; */

/*** GENERAL SETUP ***/
/*** GENERAL SETUP ***/
/*** GENERAL SETUP ***/

:root {
  --primary-btn: linear-gradient(0deg, #F37352, #EE326C);
  --secundary-btn: linear-gradient(0deg, #529af3, #32d5ee);
  --cancel-btn: linear-gradient(#f36a52, #ee3232 40%);
  --save-btn: linear-gradient(#68e84c, #17bd30 50%);
  --nav-bg: #1f1e1e; 
  --text-white: #f1f1f1;
  --text-black: #161616;
  --post-border: rgb(230, 113, 142);
  --text-gray: #9a9a9a;
  --border-gray: #dbdbdb;
  --modal-bg: #66666634;
  --white: white;
  --modal-form-bg: #383535;
}

.dark-form {
  --white: #383535;
  --border-gray: #424242df;
}
.dark-form form {
  color: #f1f1f1
}
.dark-form form input, 
.dark-form form textarea {
  background-color: var(--nav-bg);
  background-clip: initial;
  -webkit-background-clip: initial;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-gray {
  color: var(--text-gray);
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea,
select,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea,
textarea:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  -webkit-text-fill-color: inherit;
  outline: none;
  user-select: none;
  box-shadow: 1px 1px 5px var(--border-gray);
  padding: 0.3rem;
  font-size: 100%;
  border-radius: 5px;
}

.postDiv {
  max-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding-top: 60px;
  overflow-y: hidden;
  /* box-shadow: 0 20px  var(--post-border); */
}

.box-container {
  border-radius: 5px;
  background-color: var(--nav-bg);
  color: var(--text-white);
  box-shadow: var(--border-gray);
  padding: 1rem 0.5rem;
}

/*** BUTTONS ***/
/*** BUTTONS ***/
/*** BUTTONS ***/

.btn-container {
  width: 100%;
  margin-bottom: .5rem;
}

.btn-form {
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.logIn {
  background: var(--primary-btn);
}

.register {
  background: var(--secundary-btn);
}
.logout{
  background-color: transparent;
  border: none;
  outline: none;
}
.logout:hover {
  border: none;
}
.cancel {
  background: var(--cancel-btn);
}

.save {
  background: var(--save-btn);
}

.edit-btn {
  background-color: inherit;
  color: inherit;
  border: none;
}

/*** NAV BAR ***/
/*** NAV BAR ***/
/*** NAV BAR ***/

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--nav-bg);
  box-sizing: border-box;
  width: 100vw;
  padding: .5rem 0.75rem;
  padding-bottom: .6rem;
  color: var(--text-white);
  box-shadow: 0 15px 18px rgba(0, 0, 0, 0.205);
  padding-top: 13px;
  z-index: 10;
}

.navBar,
.nav-links,
.nav-logout,
.nav-user,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Audiowide', cursive;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.navBar {
  justify-content: space-between;
}

.nav-links {
  position: fixed;
  right: 50%;
  left: 50%;
}

.logo-container img,
.nav-profile-img img{
  max-width: 3rem;
  width: 100%;
  height: auto;
}

.nav-profile-img img {
  border-radius: 100%;
}

/*** END NAV BAR ***/
/*** END NAV BAR ***/
/*** END NAV BAR ***/


/*** MODAL ***/
/*** MODAL ***/
/*** MODAL ***/

.modal-container {
  position: fixed;
  top: 25%;
  left: 25%;
  bottom: 25%;
  right: 25%;
  /* top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  background-color: var(--modal-bg);*/
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.modal-box {
  background-color: var(--modal-form-bg);
  padding: .5rem 1rem;
  border-radius: 5px;
}

.modal-content {
  margin-top: 2rem;
}

.close-modal {
  float: right;
  border: none;
  background-color: inherit;
  padding: 0;
  color: var(--text-gray)
}

.close-modal:hover {
  outline: none;
  cursor: pointer;
}

.modal-box label {
  width: 100%;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: .5rem
}

/*** BODY CONTAINER ***/
/*** BODY CONTAINER ***/
/*** BODY CONTAINER ***/

#generalBody {
  background-color: #111111;
  overflow-x: hidden;  
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;  
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 100px;
}

.body-content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
}

/*** SIDE BAR ***/
/*** SIDE BAR ***/
/*** SIDE BAR ***/


.mainSide {
  display: flex;
  height: 100vh; 
  overflow: scroll initial; 
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 4.45rem;
  max-width: 30%;
  box-shadow: 00px 0 0px 0px rgba(252, 255, 47, 0.986),
  00px 0 0px 0px rgba(255, 217, 0, 0.986),
  00px 0 0px 0px rgba(255, 217, 0, 0.986);
  transition: box-shadow .4s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}

.mainSide:hover {  
  box-shadow: 8px 0 0px 0px rgba(255, 47, 109, 0.986),
  16px 0 0px 0px rgba(255, 110, 158, 0.986),
  24px 0 0px 0px rgba(255, 184, 211, 0.986)
  ;
}

.subSide.sideSub {
  height: 100%;
  background-color: var(--nav-bg);
}

#CDBSSide {
  background-color: rgb(252, 112, 147);
 
}

.sideIcons {
  
}

.sideText {
  
  margin: 0;
  padding: 0;
  font-weight: bold;
}


/*** LOG IN / SIGN UP ***/
/*** LOG IN / SIGN UP ***/
/*** LOG IN / SIGN UP ***/


.login-container {
  max-width: 400px;
  width: 100%;
  align-items: center;
  box-shadow: 1px 1px 5px var(--border-gray);
  position: relative;
  z-index: 3;
}

.login-container h1 {
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 80%;
}

form label {
  width: 100%
}

form input {
  width: 80%
}

/*** PROFILE ***/
/*** PROFILE ***/
/*** PROFILE ***/

.profile-container {
  width: 80%;
  max-width: 1280px;
  position: relative;
  color: var(--text-white);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border-gray);
}

.profile-image img{
  max-width: 10rem;
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-title button {
  align-self: flex-start;
}

.profile-info {
  margin-left: 2rem;
  width: 100%;
}

/*** POST ***/
/*** POST ***/
/*** POST ***/

.postContainer {
  width: 1000px;
  height: 530px;
  margin-bottom: 30px;
  margin-left: 5%;
  display: flex; 
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding: 60px 60px 35px 60px;
  gap: 70px;
  overflow-y: hidden;
  box-shadow: 0 0 20px  black;
  overflow: hidden;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  transition: background-color .5s ease;
}

.postContainer:hover {
  background-color: #fff7e5;
}

.postEmbed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.innerPost {
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: space-between;
height: 410px;
max-width: 50%;
overflow: hidden;
padding: 15px;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97vw;  
}

.postInteractions {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 100px;
  text-align: center;
  padding: 18px 8px 18px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 20px;
  transition: box-shadow .3s ease;
}

.postButtonsParent {
  width: 400px;
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
 
  50% { transform: translate(0px, 5px); }
  
  100% { transform: translate(0px, -3px); }
}

.postInteractions:hover {
  animation: shake 0.2s;
  box-shadow: 0 0 13px rgb(255, 82, 134);
}

.postTitle {
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0px 4px 1px #fdb5d6;
  text-align: center;
  padding: 10px 15px 15px 15px;
  color: #161616;
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  border-color:  transparent;
  margin-bottom: 40px;
  width: 360px;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.151);
}

.postDescription {
  text-align: justify;
  width: 350px;  
  color: #000000;
  font-weight: 300;
  font-size: 17px;
  text-shadow: 0px 0px 6px #00000036;
  margin-bottom: 0px;
}


.postContent {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 45px;  
  margin-bottom: 30px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.438);
  transition: width 1s ease, height 1s ease, border-radius 1s ease, box-shadow 1s ease;
}

.postContent:hover {
  width: 2000px;
  height: 400px;
  border-radius: 0px;  
  box-shadow: 0 0 20px rgb(253, 173, 173);
}

/*** NEW POST FORM ***/
/*** NEW POST FORM ***/
/*** NEW POST FORM ***/

.new-post {
  max-width: 500px;
  width: 100%;
}

.select-form {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.select-form p {
  margin: 0;
}

.add-new-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  background-color: var(--modal-form-bg);
  color: var(--text-white);
  box-sizing: border-box;
  padding: .3rem 1rem;
  border-radius: 20px;
  position: fixed;
  top: 90px;
  border: none;
  opacity: .8;
  z-index: 2;
}

.add-new-post p {
  margin: 0;
}

.btn-add {
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 100%;
}

/*** FADEOUT FOOTER ***/
/*** FADEOUT FOOTER ***/
/*** FADEOUT FOOTER ***/

.fadeOut {
  height: 200px;
  background: rgb(27,156,204);
background: linear-gradient(0deg, rgba(27,156,204,1) 0%, rgba(0,0,0,0.6222864145658263) 0%, rgba(0,0,0,0.23012955182072825) 38%, rgba(0,0,0,0) 67%);
  width: 105%;
  margin-top: -200px;  
  position: fixed;
  bottom: 0;
}

.background3d {
  height: 90vh;
  width: 110%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}