/*** FONTS ***/

/* AUDIOWIDE */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Audiowide', cursive; */

/* MONOFETT */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
/* font-family: 'Monofett', cursive; */

/* GOLOS TEXT */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap');
/* font-family: 'Golos Text', sans-serif; */

/* ORBITRON */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Orbitron', sans-serif; */

/*** GENERAL SETUP ***/
/*** GENERAL SETUP ***/
/*** GENERAL SETUP ***/

:root {
  --primary-btn: linear-gradient(0deg, #F37352, #EE326C);
  --secundary-btn: linear-gradient(0deg, #529af3, #32d5ee);
  --edit-btn: #ffffff;
  --cancel-btn: linear-gradient(#f36a52, #ee3232 40%);
  --save-btn: linear-gradient(#68e84c, #17bd30 50%);
  --nav-bg: #1f1e1e75; 
  --text-white: #f1f1f1;
  --text-black: #161616;
  --post-border: rgb(230, 113, 142);
  --text-gray: #9a9a9a;
  --border-gray: #dbdbdb;
  --modal-bg: #66666634;
  --white: white;
  --modal-form-bg: #383535;
  --btn-bg: rgba(255, 255, 255, 0.7);
  --post-background: #ececec;
}


.dark-form {
  --white: #383535;
  --border-gray: #424242df;
}
.dark-form form {
  color: #f1f1f1
}
.dark-form form input, 
.dark-form form textarea {
  background-color: var(--nav-bg);
  background-clip: initial;
  -webkit-background-clip: initial;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.modal-backdrop {
  z-index: 0;
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-gray {
  color: var(--text-gray);
}

.column-center {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;   
  gap: 20px;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea,
select,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea,
textarea:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  -webkit-text-fill-color: inherit;
  outline: none;
  user-select: none;
  box-shadow: 1px 1px 5px var(--border-gray);
  padding: 0.3rem;
  font-size: 100%;
  border-radius: 5px;
}

.postDiv {
  max-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding-top: 60px;
  overflow-y: hidden;
  /* box-shadow: 0 20px  var(--post-border); */
}

.box-container {
  border-radius: 5px;
  background-color: var(--nav-bg);
  color: var(--text-white);
  box-shadow: var(--border-gray);
  padding: 1rem 0.5rem;
}

/*** BUTTONS ***/
/*** BUTTONS ***/
/*** BUTTONS ***/

.btn-container {
  width: 100%;
  margin-bottom: .5rem;
}

.btn-form {
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.logIn {
  background: var(--primary-btn);
}

.register {
  background: var(--secundary-btn);
}

.btn-reset-style{
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-reset-style:hover {
  background-color: transparent;
  border: none;
  outline: none;
}

.logout {
  border-top: 1px solid var(--modal-form-bg);
  margin-top: .2rem;
}

.cancel {
  background: var(--cancel-btn);
}

.save {
  background: var(--save-btn);
}

.edit-btn {
  background-color: inherit;
  background: var(--edit-btn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  color: inherit;
  border: none;
  transition: background .2s ease-out;
}

.edit-btn:hover {
  background-color: inherit;
  background: rgb(110, 228, 0); 
}

.edit-image {
  padding: .2rem .4rem;
  position: absolute;
  bottom: 0;
  right: .4rem;
}

.btn-delete {
  color: red;
  background-color: inherit;
  border: none;
}

/*** NAV BAR ***/
/*** NAV BAR ***/
/*** NAV BAR ***/

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--nav-bg);
  box-sizing: border-box;
  width: 100vw;
  padding: .5rem 0.75rem;
  padding-bottom: .6rem;
  color: var(--text-white);
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.329);
  padding-top: 13px;
  z-index: 10;
}

.navBar,
.nav-links,
.nav-logout,
.nav-user,
.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.5rem;
  /* font-family: 'Audiowide', cursive;
  font-family: 'Orbitron', sans-serif; 
  text-transform: uppercase;*/
}

.nav-user {
  flex-direction: row;
}

.navBar {
  justify-content: space-between;
}

.nav-links {
  position: fixed;
  right: 50%;
  left: 50%;
}

.nav-link-inactive {
  color: rgba(182, 182, 182, .7);
}

.nav-user {
  gap: .5rem;
  margin-right: 1.5rem;
}

.nav-user button {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.logo-container img,
.nav-profile-img img{
  max-width: 3rem;
  width: 100%;
  height: auto;
}

.nav-profile-img img {
  border-radius: 100%;
}

.nav-dropdown {
  background-color: var(--nav-bg);
  color: var(--text-white);
}

.nav-dropdown .dropdown-item.active {
  background-color: inherit;
}

.dropdown-item:hover {
  background-color: inherit;
  font-weight: 600;
  border-color: inherit;
}

.profileFilterButtons {
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
}

/*** END NAV BAR ***/
/*** END NAV BAR ***/
/*** END NAV BAR ***/


/**** MOBILE NAVBAR ****/
/**** MOBILE NAVBAR ****/
/**** MOBILE NAVBAR ****/


.btn-sidebar {
  display: none;
}

.offcanvas {
  margin-top: 4.4rem;
  max-width: 15rem;
  transition: max-width .5s ease;
}

.offcanvas-title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.offcanvas-title .title-icon {
  margin-top: .4rem;
}

.offcanvas.show,
.offcanvas {
  transition: all .4s ease;
}

.offcanvas:hover {  
  max-width: 15rem;
}

.btn-close.btn-sidebar {
  margin-bottom: .5rem;
}

.btn-sidebar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-sidebar p {
  margin: 0;
}

/* .offcanvas:hover .text-hide {
  display: block;
} */

.offcanvas-backdrop.show {
  opacity: 0;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 960px) {

  .onTop {
    /* display: none; */
  }

}

/*** MODAL ***/
/*** MODAL ***/
/*** MODAL ***/

.modal-container {
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 30%;
  right: 30%;
  /* top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  background-color: var(--modal-bg);*/
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-box {
  background-color: var(--modal-form-bg);
  padding: .5rem 1rem;
  border-radius: 5px;
}

.modal-content {
  margin-top: 2rem;
}

.close-modal {
  float: right;
  border: none;
  background-color: inherit;
  padding: 0;
  color: var(--text-gray)
}

.close-modal:hover {
  outline: none;
  cursor: pointer;
}

.modal-box label {
  width: 100%;
  color: var(--text-white);
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: .5rem;
  color: var(--text-white);
}
/*** BODY MENU ***/
/*** BODY MENU ***/
/*** BODY MENU ***/

#createNewPost {
  position: fixed;
  top: 50px;
  z-index: 11;
}

.body-menu {
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  margin: 0;
  background: transparent;
  position: fixed;
  top: 80px;
  left: 10px;
}

.body-menu button {
  background-color: transparent;
  text-align: center;
}

.btn-menu-container {
  width: 70.3px;
  height: 70px;
  background-color: var(--btn-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: margin-left .3s ease;
}

.btn-menu-container:hover {
  margin-left: 6%;
}

.open-sidebar {
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
  border: none;
}

.add-new-post {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: var(--text-black);
  box-sizing: border-box;
  border-radius: 20px;
  border: none;  
  width: 100%;
  overflow: hidden;
  opacity: .8;
}

.add-new-btn {
  transition: all .5s ease;
}

.add-new-btn:hover {
  width: 212px;
  margin-left: 6%;
  padding-left: 0rem;
}

.btn-add {
  font-weight: bold;
  font-size: 2rem;
}

.text-hide {
  margin: 0;
  opacity: 0;
  transition: all .5s ease;
}

.add-new-btn .add-new-post:hover .text-hide {
  opacity: 1;
}

/*** IMAGE CHANGE BACKGROUND ***/
/*** IMAGE CHANGE BACKGROUND ***/
/*** IMAGE CHANGE BACKGROUND ***/

.backgroundsChoose {
  background-color: var(--btn-bg);
  display: flex;
  gap: 20px;
  width: 70.3px;
  height: 70px;
  overflow: hidden;
  border-radius: 100px;
  padding: 10px;
  transition: width .5s ease, margin-left .5s ease;
}

.backgroundsChoose:hover {
  width: 212px;
  margin-left: 6%;
}

@media screen and (max-width: 768px){
  .backgroundsChoose {
    transition: height .5s ease, margin-top .5s ease;
  }

  .backgroundsChoose:hover {
  flex-direction: column;
  width: 70.3px;
  height: 220px;
  margin-top: 15px;
}

}

.image-bg-change {
  height: 50px;
  width: 50px;
  background-size: 300px;
  z-index: 2;
  border-radius: 100px;
  align-self: flex-start;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.747);
  color: transparent;
}

.imageBackgrounChange1 {
  background-image: url("../public/image/Untitled-Copy@1-1904x993.png");
  background-position-y: -60px;
}

.imageBackgrounChange2 {
  background-image: url("../public/image/desktop-wallpaper-sky-blue-clouds-digital-art-chromebook-pixel-background-and-cloud-pixel-art.jpg");
  background-position-y: -100px;
  background-position-x: -90px;
}

.imageBackgrounChange3 {
  background-image: url("../public/image/164775-water-liquid-fluid-painting-art-1920x1080.jpg");
  background-position-y: -100px;
  background-position-x: -90px;
}


/*** BODY CONTAINER ***/
/*** BODY CONTAINER ***/
/*** BODY CONTAINER ***/

#generalBody {
  background-color: #131313;
  overflow-x: hidden;  
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;  
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 100px;
}

.body-content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 40px;
}

/*** LOG IN / SIGN UP ***/
/*** LOG IN / SIGN UP ***/
/*** LOG IN / SIGN UP ***/


.login-container {
  max-width: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;  
  position: relative;
  z-index: 3;
  margin-left: 100px;
  margin-top: -200px;
  padding-bottom: 50px;
  box-shadow: 0 0 20px  black;
  transition: box-shadow .5s ease-out;
}

.login-container:hover {
  box-shadow: 0 0 20px  rgba(255, 255, 255, 0.637);
}

.login-container h1 {
  padding-bottom: 40px;
  margin-top: -10px;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.301);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 80%;

}

form label {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #505050;
}

form input {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
}

/*** PROFILE ***/
/*** PROFILE ***/
/*** PROFILE ***/



/*** POST ***/
/*** POST ***/
/*** POST ***/


.fullReturn {  
  animation-duration: 1s;
  animation-name: slidein; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  z-index: 1;
  width: inherit
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 100px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97vw;  
  padding-bottom: 100px;
}

@media screen and (min-width: 1000px) {
  .postContainer {
  width: 95%;  
  max-width: 1000px;
  height: auto;
  margin-bottom: 30px;
  margin-right: -3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: var(--post-background);
  padding: 60px 60px 15px 60px;
  gap: 70px;
  overflow-y: hidden;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.356);
  overflow: hidden;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  align-self: center;
  transition: background-color .5s ease;
  padding-top: 25px;
  margin-right: 0;
  margin-left: 11px;
}
.postBody {
  display: flex; 
  align-items: flex-start;
  gap: 70px;
}
.postContent {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  height: 100%;
  overflow: hidden;
  border-radius: 45px;  
  margin-bottom: 30px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.438);
  transition: width 1s ease, height 1s ease, border-radius 1s ease, box-shadow 1s ease;
}

.postContent:active {
  width: 2000px;
  height: 400px;
  border-radius: 0px;  
  box-shadow: 0 0 20px rgb(253, 173, 173);
}
.postBody {
  display: flex; 
  align-items: flex-start;
  gap: 70px;
}

.postedBy {
  margin-bottom: 25px;
}

img.postedByImg {
  max-width: 4rem;
}

.postEmbed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.innerPost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 410px;
  max-width: 50%;
  overflow: hidden;
  padding: 15px
}

.postTitle {
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0px 4px 1px #fdb5d6;
  text-align: center;
  padding: 10px 15px 15px 15px;
  color: #161616;
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  border-color:  transparent;
  margin-bottom: 40px;
  width: 87%;
  min-width: 350px;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.151);
}

.postDescription {
  text-align: justify;
  width: 87%;  
  min-width: 300px;
  color: #363636;
  font-weight: 300;
  font-size: 17px;
  text-shadow: 0px 0px 6px #00000036;
  margin-bottom: 0px;
  min-width: 300px;
}

.postButtonsParent {
  width: 87%;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-self: flex-start;
}

.postInteractions {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 30%;
  min-width: 80px;
  text-align: center;
  padding: 19px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2 {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 30%;
  min-width: 80px;
  text-align: center;
  padding: 19px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2:hover {
  box-shadow: 0 0 13px rgb(247, 120, 252);
  animation: shake 0.2s;
}

.postInteractions:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}



.postInteractionsLiked {
  box-shadow: 0 0 13px rgba(255, 7, 7, 0.199);
  width: 30%;
  min-width: 80px;
  text-align: center;
  padding: 19px 8px;
  border-radius: 15px;
  background-color: transparent;  
  background-color: rgb(248, 140, 158);
  color: white;
  transition: box-shadow .3s ease;
  border:none;
}

.postInteractionsLiked:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}

.postInteractionsDisiked {  
  background-color: rgb(171, 121, 204);  
}

.postInteractionsDisiked:hover {  
  background-color: rgb(171, 121, 204);  
  box-shadow: 0 0 13px rgb(255, 82, 232);
  animation: shake 0.2s;
}

.postContainer button:hover {  
  border:none; 
}
.postedBy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postedByImg {
  height: 200px;
  max-width: 4rem;
  width: 200px;
  height: auto;
  margin-left: -10px;
  border-radius: 100px;
}

.postedByName {
  font-size: 32px;
  margin-left: 20px; 
  font-weight: 600; 
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;  
}

.postTag {
  font-weight: 100;
  color: rgb(78, 78, 78);
  font-size: 22px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  border-radius: 12px;
  margin-right: -30px;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem;
  margin-left: 2rem;
  border-top: 1px solid var(--border-gray)
}

.comment-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-black);
}

.comment-text p {
  margin: 0
}

.comment-username {
  font-weight: 700;
}

.comment-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  box-shadow: 1px 1px 5px var(--border-gray);
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  color: var(--text-black);
  font-size: 1.2rem;
}

.comment-form p {
  font-weight: 500;
  margin: 0;
  margin-left: .2rem;
}

.comment-form input {
  width: 90%;
  font-size: 100%;
  margin: 0;
  box-shadow: none;
}

.comment-form button {
  font-size: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
}

.profile-container {
  max-width: 80%;  
  position: relative;
  z-index: 1;
  background-color: #f0f0f0;
  padding: 5rem;
  border-radius: 50px;
  color: var(--text-black);
  align-self: center;
}

.profile-posts {
  margin-left: 10px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border-gray);
}

.profile-image {
  position: relative;
  min-width: 10rem;
}

.profile-img {
  max-width: 10rem;
  height: auto;
  border-radius: 100%;
  position: relative
}
.btn-add-image {
  height: 10rem;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--border-gray);
  background-color: var(--nav-bg);
  position: relative;
  border: none;
}

.inactive {
  opacity: .8;
  filter: grayscale(70%)
}

.edit-image-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-title button {
  align-self: flex-start;
}

.profile-info {
  margin-left: 2rem;
  width: 100%;
}

.modal-miniatures {
  width: 7rem;
}

.storeBody {
  background-color: rgb(247, 247, 247);
  width: 95vw;
  max-width: 2000px;
  margin-left: 2%;
  margin-right: auto;
  margin-top: -10px;
  border-radius: 40px;
  padding: 100px;
  box-shadow: 0 0 20px  rgba(27, 27, 27, 0.329);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.legendary {
  font-size: 6vw;
  font-weight: 100;
  color: rgb(219, 112, 69);
  text-shadow: 0 0 10px orange;
}
.collection {
  font-size: 6.5vw;  
}

.extraOffers {
  font-size: 7vw;
  font-weight: 400;
  color: #242424;
}

.legedaryCollection {
  max-width: 40%;
  margin-right: 5%;
}

.dailyCollectionImg {  
  max-width: 100%;
  margin: 20px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
  transition: margin .5s ease, padding .5s ease;
}

#the-final-countdown {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.dailyCollection {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  height: 600px;
  gap:50px;
  margin-top: -50px;
  margin-left: 50px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 20%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0px 20px;
  flex-basis: 35%;
}

.itemButton {  
  width: 100px;
  height: 60px;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: white;
  margin-top: -40px;
  position: relative;
  z-index: 0;
  transition: background-color .3s ease, width .1s ease-out, height .1s ease-out;
}

.itemButton:hover {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(198, 255, 145); 
  border-style: none;
}

.itemButton:active {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(255, 230, 7); 
  border-style: none;
  width: 110px;
  height: 70px;
}

.dailyCollectionContainer {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.storeTitle {
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  padding: 10px 20px 10px 20px;
  border-radius: 35px;
  padding-bottom: 15px;
  padding-left: 30px;
  align-self: flex-start;
  margin-top: -50px;
  margin-left: -3%;
  width: 400px;
  display: flex;
  align-items: center;
}

.rowCollection {
  display: flex;
  margin-top:  70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  background-color: #dfdfdf;
}

}

@media screen and (max-width: 999px) and (min-width: 425px) {

  .fullReturn {
    width: 100vw;
    align-self: center;
    margin-left: auto;    
  }
  .column-center {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;   
    gap: 0px;
    margin-left: -10px;
  }
  
  .postContainer {
  width: 95%;  
  max-width: 1000px;
  height: auto;
  margin-bottom: 30px;
  margin-right: -3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding: 60px 15px 15px 15px;
  gap: 0px;
  
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.356);
  
  flex-basis: auto;
  position: relative;
  z-index: 1;
  align-self: center;
  transition: background-color .5s ease;
  padding-top: 25px;
  margin-right: 0;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
.postBody {
  display: flex; 
  align-items: flex-start;
  gap: 70px;
  flex-direction: row;
}
.postContent {
  width: auto;
  max-width: 300px;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  border-radius: 45px;  
  margin-bottom: 30px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.438);
  transition: width 1s ease, height 1s ease, border-radius 1s ease, box-shadow 1s ease;
}

.postContent:active {
  width: 2000px;
  height: 400px;
  border-radius: 0px;  
  box-shadow: 0 0 20px rgb(253, 173, 173);
}
.postBody {
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.postedBy {
  margin-bottom: 25px;
}

img.postedByImg {
  max-width: 4rem;
}

.postEmbed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.innerPost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 370px;
  max-width: 43%; 
  padding: 15px;
  padding-top: 30px;
  margin-top: -15px;
}

.postTitle {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 4px 1px #fdb5d6;
  text-align: center;
  padding: 10px 15px 15px 15px;
  color: #161616;
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  border-color:  transparent;
  margin-bottom: 20px;
  margin-top: -15px;
  width: 95%;
  min-width: 250px;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.151);
}

.postDescription {
  text-align: justify;
  width: 95%;  
  min-width: 300px;
  color: #363636;
  font-weight: 300;
  font-size: 15px;
  text-shadow: 0px 0px 6px #00000036;
  margin-bottom: 0px;
  min-width: 250px;
}

.postButtonsParent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  align-self: flex-start;
  margin-bottom: 30px;
  padding: 0px 10px;
  margin-left: -10px;
  gap: 0;
}

.postInteractions {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 30%;
  min-width: 25%;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2 {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 30%;
  min-width: 25%;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2:hover {
  box-shadow: 0 0 13px rgb(247, 120, 252);
  animation: shake 0.2s;
}

.postInteractions:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}



.postInteractionsLiked {
  box-shadow: 0 0 13px rgba(255, 7, 7, 0.199);
  width: 30%;
  min-width: 25%;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;  
  background-color: rgb(248, 140, 158);
  color: white;
  transition: box-shadow .3s ease;
  border:none;
}

.postInteractionsLiked:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}

.postInteractionsDisiked {  
  background-color: rgb(171, 121, 204);  
}

.postInteractionsDisiked:hover {  
  background-color: rgb(171, 121, 204);  
  box-shadow: 0 0 13px rgb(255, 82, 232);
  animation: shake 0.2s;
}

.postContainer button:hover {  
  border:none; 
}
.postedBy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postedByImg {
  height: 200px;
  max-width: 4rem;
  width: 200px;
  height: auto;
  margin-left: 30px;
  border-radius: 100px;
}

.postedByName {
  font-size: 25px;
  margin-left: 20px; 
  font-weight: 600; 
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.center {
  display: flex;
  align-items: center;  
}

.postTag {
  font-weight: 100;
  color: rgb(78, 78, 78);
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  border-radius: 12px;
  margin-right: -53px;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem;
  margin-left: 2rem;
  border-top: 1px solid var(--border-gray)
}

.comment-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-black);
}

.comment-text p {
  margin: 0
}

.comment-username {
  font-weight: 700;
}

.comment-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  box-shadow: 1px 1px 5px var(--border-gray);
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  color: var(--text-black);
  font-size: 1.2rem;
}

.comment-form p {
  font-weight: 500;
  margin: 0;
  margin-left: .2rem;
}

.comment-form input {
  width: 90%;
  font-size: 100%;
  margin: 0;
  box-shadow: none;
}

.comment-form button {
  font-size: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
}

.profile-container {
  width: 95%;  
  position: relative;
  z-index: 1;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 50px;
  color: var(--text-black);
  align-self: center;
}

.profile-posts {
  margin-left: 10px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;  
  padding: 2.5rem 2.5rem;
  border-bottom: 1px solid var(--border-gray);
}

.profile-image {
  position: relative;
  min-width: 10rem;
}

.profile-img {
  max-width: 10rem;
  height: auto;
  border-radius: 100%;
  position: relative
}
.btn-add-image {
  height: 10rem;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--border-gray);
  background-color: var(--nav-bg);
  position: relative;
  border: none;
}

.inactive {
  opacity: .8;
  filter: grayscale(70%)
}

.edit-image-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-title button {
  align-self: flex-start;
}

.profile-info {
  margin-left: 2rem;
  width: 100%;
}

.modal-miniatures {
  width: 7rem;
}

.storeBody {
  background-color: rgb(247, 247, 247);
  width: 95vw;
  max-width: 2000px;
  height: auto;
  margin-left: 0%;
  margin-right: auto;
  margin-top: -40px;
  border-radius: 40px;
  padding: 100px;
  box-shadow: 0 0 20px  rgba(27, 27, 27, 0.329);
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.legendary {
  font-size: 6vw;
  font-weight: 100;
  color: rgb(219, 112, 69);
  text-shadow: 0 0 10px orange;
}
.collection {
  font-size: 6.5vw;  
}

.extraOffers {
  font-size: 7vw;
  font-weight: 400;
  color: #242424;
}

.legedaryCollection {
  max-width: 30%;  
  margin-right: 5%;
}

.dailyCollectionImg {  
  max-width: 100%;
  margin: 20px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
  transition: margin .5s ease, padding .5s ease;
}

.dailyCollection {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  height: 400px;
  gap:50px;
  margin-top: -20px;
  margin-left: 50px;
}

#the-final-countdown {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 20%;
  max-height: 100px;
  justify-content: center;
  align-items: center;  
  margin: 0px 0px;
  margin-left: 5vw;
  margin-bottom: 40px;
  flex-basis: 30%;
}

.itemButton {  
  max-width: 100px;
  max-height: 60px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: white;
  margin-top: -30px;
  position: relative;
  z-index: 0;
  transition: background-color .3s ease, width .1s ease-out, height .1s ease-out;
}

.itemButton:hover {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(198, 255, 145); 
  border-style: none;
}

.itemButton:active {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(255, 230, 7); 
  border-style: none;
  width: 110px;
  height: 70px;
}

.dailyCollectionContainer {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.storeTitle {
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  padding: 10px 20px 10px 20px;
  border-radius: 35px;
  padding-bottom: 15px;
  padding-left: 30px;
  align-self: flex-start;
  margin-top: -50px;
  margin-left: -3%;
  width: 400px;
  display: flex;
align-items: center;}

.rowCollection {
  display: flex;
  margin-top:  0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  background-color: #dfdfdf;
}

}

/* @media screen and (max-width: 999px) and (min-width: 600px) {
  .column-center {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;   
    gap: 0px;
    margin-left: 14px;
  }
  
  .postContainer {
  width: 95%;  
  max-width: 1000px;
  height: auto;
  margin-bottom: 30px;
  margin-right: -3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding: 60px 15px 15px 15px;
  gap: 0px;
  overflow-y: hidden;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.356);
  overflow: hidden;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  align-self: center;
  transition: background-color .5s ease;
  padding-top: 25px;
  margin-right: 0;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
.postBody {
  display: flex; 
  align-items: flex-start;
  gap: 70px;
  flex-direction: row;
}
.postContent {
  width: auto;
  max-width: 400px;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  border-radius: 45px;  
  margin-bottom: 30px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.438);
  transition: width 1s ease, height 1s ease, border-radius 1s ease, box-shadow 1s ease;
}

.postContent:active {
  width: 2000px;
  height: 400px;
  border-radius: 0px;  
  box-shadow: 0 0 20px rgb(253, 173, 173);
}
.postBody {
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.postedBy {
  margin-bottom: 25px;
}

img.postedByImg {
  max-width: 4rem;
}

.postEmbed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.innerPost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 370px;
  max-width: 43%;
  overflow: hidden;
  padding: 15px;
  padding-top: 30px;
  margin-top: -15px;
}

.postTitle {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 4px 1px #fdb5d6;
  text-align: center;
  padding: 10px 15px 15px 15px;
  color: #161616;
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  border-color:  transparent;
  margin-bottom: 20px;
  margin-top: -15px;
  width: 86%;
  min-width: 280px;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.151);
}

.postDescription {
  text-align: justify;
  width: 89%;  
  min-width: 300px;
  color: #363636;
  font-weight: 300;
  font-size: 15px;
  text-shadow: 0px 0px 6px #00000036;
  margin-bottom: 0px;
  min-width: 280px;
}

.postButtonsParent {
  width: 87%;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-self: center;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.postInteractions {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2 {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2:hover {
  box-shadow: 0 0 13px rgb(247, 120, 252);
  animation: shake 0.2s;
}

.postInteractions:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}



.postInteractionsLiked {
  box-shadow: 0 0 13px rgba(255, 7, 7, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;  
  background-color: rgb(248, 140, 158);
  color: white;
  transition: box-shadow .3s ease;
  border:none;
}

.postInteractionsLiked:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}

.postInteractionsDisiked {  
  background-color: rgb(171, 121, 204);  
}

.postInteractionsDisiked:hover {  
  background-color: rgb(171, 121, 204);  
  box-shadow: 0 0 13px rgb(255, 82, 232);
  animation: shake 0.2s;
}

.postContainer button:hover {  
  border:none; 
}
.postedBy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postedByImg {
  height: 200px;
  max-width: 4rem;
  width: 200px;
  height: auto;
  margin-left: 30px;
  border-radius: 100px;
}

.postedByName {
  font-size: 25px;
  margin-left: 20px; 
  font-weight: 600; 
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.center {
  display: flex;
  align-items: center;  
}

.postTag {
  font-weight: 100;
  color: rgb(78, 78, 78);
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  border-radius: 12px;
  margin-right: -30px;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem;
  margin-left: 2rem;
  border-top: 1px solid var(--border-gray)
}

.comment-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-black);
}

.comment-text p {
  margin: 0
}

.comment-username {
  font-weight: 700;
}

.comment-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  box-shadow: 1px 1px 5px var(--border-gray);
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  color: var(--text-black);
  font-size: 1.2rem;
}

.comment-form p {
  font-weight: 500;
  margin: 0;
  margin-left: .2rem;
}

.comment-form input {
  width: 90%;
  font-size: 100%;
  margin: 0;
  box-shadow: none;
}

.comment-form button {
  font-size: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
}

} */

@media screen and (max-width: 424px) {

  .body {
    padding: 0;
    overflow-x: hidden;
  }

  #generalBody {
    margin-top: -20px;
    margin-bottom: 0px;
  }

  .navBar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    height: 70px;
    background: rgb(39, 39, 39);
    box-sizing: border-box;
    width: 100vw;
    padding: 0rem 0.75rem;
    padding-bottom: .5px;
    color: var(--text-white);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.329);
    padding-top: 5px;
    z-index: 10;
  }

  .currencyNav {
    display: none;
  }
  
  .navBar,
  .nav-links,
  .nav-logout,
  .nav-user,
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1.5rem;
    /* font-family: 'Audiowide', cursive;
    font-family: 'Orbitron', sans-serif; 
    text-transform: uppercase;*/
  }

  .nav-user {
    flex-direction: row;
  }
  
  .navBar {
    justify-content: space-between;
  }
  
  .nav-links {
    position: fixed;
    right: 50%;
    left: 50%;
  }
  
  .nav-link-inactive {
    color: rgba(182, 182, 182, .7);
  }
  
  .nav-user {
    gap: .5rem;
    margin-right: 1rem;
  }
  
  .nav-user button {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  
  .logo-container img,
  .nav-profile-img img{
    max-width: 3rem;
    width: 100%;
    height: auto;
  }
  
  .nav-profile-img img {
    border-radius: 100%;
  }
  
  .nav-dropdown {
    background-color: var(--nav-bg);
    color: var(--text-white);
  }
  
  .nav-dropdown .dropdown-item.active {
    background-color: inherit;
  }  
  
  .dropdown-item:hover {
    background-color: inherit;
    font-weight: 600;
    border-color: inherit;
  }

  ul.dropdown-menu.nav-dropdown.show {    
    inset: -23px 10px 10px 245px !important;
    background-color: #242424;
  }

  .dropDownRelative {
    position: relative;
  }
  
  .profileFilterButtons {
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
  }

  .column-center {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;   
    gap: 0px;
    margin-left: 11px;
  }
  
  .postContainer {
  width: 92%;  
  max-width: 1000px;
  height: auto;
  margin-bottom: 30px;
  margin-right: 0%;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color:  transparent;
  background-color: #ececec;
  padding: 60px 15px 15px 15px;
  gap: 0px;
  overflow-y: hidden;
  
  overflow: hidden;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  align-self: center;
  transition: background-color .5s ease;
  padding-top: 5px;
  margin-right: 12px;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
.postBody {
  display: flex; 
  align-items: flex-start;
  flex-direction: column;
  gap: 70px; 
}
.postContent {
  width: auto;
  max-width: 400px;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;  
  margin-bottom: 30px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
  transition: width 1s ease, height 1s ease, border-radius 1s ease, box-shadow 1s ease;
}

.postContent:active {
  width: 2000px;
  height: 400px;
  border-radius: 0px;  
  box-shadow: 0 0 20px rgb(253, 173, 173);
}
.postBody {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-right: 0px;
}

.postedBy {
  margin-bottom: 25px;
}

img.postedByImg {
  max-width: 4rem;
}

.postEmbed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.innerPost {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 270px;
  max-width: 100%;
  overflow: hidden;
  padding: 15px;
  padding-top: 30px;
  margin-top: -15px;
}

.postTitle {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 4px 1px #b9b9b9;
  text-align: center;
  padding: 10px 15px 15px 15px;
  color: #161616;
  border-style: none;
  border-width: 1px;
  border-radius: 20px;
  border-color:  transparent;
  margin-bottom: 10px;
  margin-top: -30px;
  width: 86%;
  min-width: 270px;
  background-color: transparent;
  
}

.postDescription {
  text-align: justify;
  width: 86%;  
  min-width: 30px;
  color: #363636;
  font-weight: 300;
  font-size: 12px;
  text-shadow: 0px 0px 6px #00000036;
  margin-bottom: 0px;
  min-width: 270px;
}

.postButtonsParent {
  width: 87%;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-self: center;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.postTexts {
  min-width: 90%;
  align-self: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.postInteractions {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2 {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 1%;
  transition: box-shadow .3s ease;
}

.postInteractions2:hover {
  box-shadow: 0 0 13px rgb(247, 120, 252);
  animation: shake 0.2s;
}

.postInteractions:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}



.postInteractionsLiked {
  box-shadow: 0 0 13px rgba(255, 7, 7, 0.199);
  width: 20%;
  min-width: 80px;
  text-align: center;
  padding: 15px 8px;
  border-radius: 15px;
  background-color: transparent;  
  background-color: rgb(248, 140, 158);
  color: white;
  transition: box-shadow .3s ease;
  border:none;
}

.postInteractionsLiked:hover {
  box-shadow: 0 0 13px rgb(255, 145, 145);
  animation: shake 0.2s;
}

.postInteractionsDisiked {  
  background-color: rgb(171, 121, 204);  
}

.postInteractionsDisiked:hover {  
  background-color: rgb(171, 121, 204);  
  box-shadow: 0 0 13px rgb(255, 82, 232);
  animation: shake 0.2s;
}

.postContainer button:hover {  
  border:none; 
}
.postedBy {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postedByImg {
  max-width: 4rem;
  width: 100px;
  height: auto;
  margin-left: 10px;
  margin-top: -25px;
  border-radius: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.39);  
}

.postedByName {
  font-size: 18px;
  margin-left: 10px; 
  font-weight: 100; 
  color: white;
  margin-bottom: -485px;
  margin-left: -45px;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: var(--text-black);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.37);
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: -120px;
  margin-left: -8px;
  position: relative;
  z-index: 1;
}

.center {
  display: flex;
  align-items: center;  
}

.postTag {
  font-weight: 100;
  color: rgb(78, 78, 78);
  font-size: 12px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  border-radius: 12px;
  margin-right: -15px;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1rem 0.5rem;
  margin-left: 0rem;
  border-top: 1px solid var(--border-gray)
}

.comment-text {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  color: rgb(29, 29, 29);
}

.comment-text p {
  margin: 0
}

.comment-username {
  font-weight: bolder;
  color: black;
}

.comment-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  box-shadow: 1px 1px 5px var(--border-gray);
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  color: var(--text-black);
  font-size: 1.2rem;
}

.comment-form p {
  font-weight: 500;
  margin: 0;
  margin-left: .2rem;
}

.comment-form input {
  width: 90%;
  font-size: 100%;
  margin: 0;
  box-shadow: none;
}

.comment-form button {
  font-size: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
}

.comment-body {
  padding-right: 10px;
}

.fullReturn {
  width: 102.5vw;
  align-self: center;
  margin-left: 2px;
  overflow-x: hidden;
}

.fullReturn2 {
  background-color: rgb(241, 241, 241);
  height: 100vh;
  position: fixed;
}

.profile-container {
  min-width: 95%;  
  position: relative;
  z-index: 1;
  margin-left: 9px;
  
  background-color: #f0f0f0;
  padding: 3rem 0rem;
  border-radius: 0px;
  color: var(--text-black);
  align-self: center;  
  margin-bottom: 50px;
  margin-top: 50px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border-gray);  
}

.profile-image {
  position: relative;
  min-width: 10rem;
}

.profile-img {
  max-width: 14rem;
  height: auto;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.466);
}
.btn-add-image {
  height: 10rem;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--border-gray);
  background-color: var(--nav-bg);
  position: relative;
  border: none;
}

.inactive {
  opacity: .8;
  filter: grayscale(70%)
}

.edit-image-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.profile-title {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

.profile-title button {  
  font-size: 12px;
  margin-bottom: -100px;
  margin-left: -132px;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 280px;
  opacity: 0;
}

.profUsername {
  font-size: 50px;
  font-weight: bolder;
}

.profile-info {
  margin-left: 2rem;
  width: 80%;
}

.profEdit {
  margin-top: -200px;
  padding: 10px 20px;
}

.bio {
  font-size: 15px;
  width: 90%;
  align-self: center;
  color: #363636;
}

.modal-miniatures {
  width: 7rem;
}

.storeBody {
  background-color: rgb(247, 247, 247);
  width: 110vw;
  max-width: 2000px;
  height: auto;  
  margin-top: -40px;
  border-radius: 40px;
  padding: 10px;
  padding-top: 100px;
  box-shadow: 0 0 20px  rgba(27, 27, 27, 0.329);
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.landingPage2 {
width: 100vw;
bottom: 0;
}

.body-content2 {
  margin-top: 10px;
  bottom: 0;
}

.legendary {
  font-size: 13vw;
  font-weight: 100;
  color: rgb(219, 112, 69);
  text-shadow: 0 0 10px orange;
  margin-left: 18%; 

}
.collection {
  font-size: 15vw;  
}

.extraOffers {
  font-size: 7vw;
  font-weight: 400;
  color: #242424;
}

#the-final-countdown {
  font-size: 17px;
  margin-left: 5vw;
  margin-top: 12px;
  font-weight: 100;
}

.legedaryCollection {
  max-width: 30%;  
  margin-left: 6vw;
  align-self: flex-start;
}

.dailyCollectionImg {  
  max-width: 100%;
  margin: 20px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
  transition: margin .5s ease, padding .5s ease;
}

.dailyCollection {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  height: 400px;
  gap:50px;
  margin-top: 100px;
  margin-left: 50px;
}

.itemCard {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 20%;
  max-height: 100px;
  justify-content: center;
  align-items: center;  
  margin: 0px 0px;
  margin-left: 5vw;
  margin-bottom: 8vh;
  flex-basis: 35%;
}

.itemButton {  
  max-width: 100px;
  max-height: 60px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: white;
  margin-top: -30px;
  position: relative;
  z-index: 0;
  transition: background-color .3s ease, width .1s ease-out, height .1s ease-out;
}

.itemButton:hover {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(198, 255, 145); 
  border-style: none;
}

.itemButton:active {    
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  background-color: rgb(255, 230, 7); 
  border-style: none;
  width: 110px;
  height: 70px;
}

.dailyCollectionContainer {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.storeTitle {
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.253);  
  padding: 20px 0px 10px 20px;  
  padding-bottom: 30px;
  padding-left: 50px;
  align-self: center;
  margin-top: -50px;
  margin-left: -3%;
  width: 100%;
  display: flex;
  background-color: #ffdcc0;
  box-shadow: 0 0 20px 20px #ffdcc0;  
  align-items: center;
}

.rowCollection {
  display: flex;
  margin-top:  80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 30px 10px 10px;
  margin-bottom: -10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  background-color: #dfdfdf;
}

}



.postContainer:hover {
  background-color: #fff7e5;
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
 
  50% { transform: translate(0px, 5px); }
  
  100% { transform: translate(0px, -3px); }
}

.postFooter {
  display: flex;
  justify-content: center;
}

.postFooter button {
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  transform: scaleX(2.5);
  color: var(--text-gray);
  cursor: pointer;
}

/*** NEW POST FORM ***/
/*** NEW POST FORM ***/
/*** NEW POST FORM ***/

.new-post {
  max-width: 500px;
  width: 100%;
  color: var(--text-white)
}

.select-form {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.select-form p {
  margin: 0;
}

/*** FADEOUT FOOTER ***/
/*** FADEOUT FOOTER ***/
/*** FADEOUT FOOTER ***/

.fadeOut {
  height: 200px;
  background: rgb(27,156,204);
  background: linear-gradient(0deg, rgba(27,156,204,1) 0%, rgba(0, 0, 0, 0.397) 0%, rgba(0,0,0,0.23012955182072825) 38%, rgba(0,0,0,0) 97%);
  width: 105%;
  margin-top: -200px;  
  position: fixed;
  bottom: 0;
}

.background3d:hover {
  min-height: 110vh;
  max-width: 300vh;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  z-index: 0;
  transition: filter 2s ease, -webkit-filter 2s ease;
}

.background3d {
  min-height: 110vh;
  min-width: 300vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  transition: filter 2s ease, -webkit-filter 2s ease;
  z-index: 0;
}

/***  STORE ***/
/***  STORE ***/
/***  STORE ***/

.bringItemFront {
  position: relative;
  z-index: 2;
}


/**** MOBILE NAVBAR ****/
/**** MOBILE NAVBAR ****/
/**** MOBILE NAVBAR ****/



.onTop {
<<<<<<< HEAD
=======
  
>>>>>>> 18cae48aa905039c6c1d1ed374672aa20a52a0b6
}

.btn-sidebar {
  display: none;
}

.offcanvas {
  margin-top: 4.4rem;
  max-width: 15rem;
  transition: max-width .5s ease;
}

.offcanvas-title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.offcanvas-title .title-icon {
  margin-top: .4rem;
}

.offcanvas.show,
.offcanvas {
  transition: all .4s ease;
}

.offcanvas:hover {  
  max-width: 15rem;
}

.btn-close.btn-sidebar {
  margin-bottom: .5rem;
}

/* .offcanvas:hover .btn-close.btn-sidebar {
  display: block;
} */

.btn-sidebar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-sidebar p {
  margin: 0;
}

/* .offcanvas:hover .text-hide {
  display: block;
} */

.offcanvas-backdrop.show {
  opacity: 0;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*** GROUPS ***/
/*** GROUPS ***/
/*** GROUPS ***/

.groups-page-title {
  z-index: 2;
  background-color: var(--post-background);
}